@page
@model SimModel
@{
    ViewData["Title"] = "Symulacja";
    int sizeX = Model.SimHistory.SizeX;
    int sizeY = Model.SimHistory.SizeY;
}
<style>
.map {
    grid-template-columns: max-content repeat(@sizeX, max-content);
    grid-template-rows: repeat(@sizeY, 1fr) max-content;
}
.map {
    display: grid;
    gap: 0;
    justify-content: center;
    min-width: max-content;
    align-items: center;
}
    .map > div {
        background-color: #54555a;
        outline: 1px dashed var(--dark-color);
        min-width: 80px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px black solid;
    }

    .map > p {
        padding-right: .4rem;
    }

    .map > span {
        padding-top: .2rem;
    }


.map-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-weight: 700;
    text-align: center;
    font-size: 1.2rem;
    margin-left: 1rem;
}
.turn-toggler {
    display: flex;
        justify-content: center;
        align-items: center;
}
div#map_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: large;
    align-items: safe center;
    text-align: center;
    justify-content: safe center;
    width: auto;
    max-width: 50%;
    overflow-y: auto;
}
.turn {
    min-width: 11rem;
}

.alert {
    color: #ffc86b;
}

button {
    min-width: 4rem;
    min-height: 3rem;
    font-size: 1.6rem;
}
form#tileForm {
overflow: auto;
max-width: 100%;
}
</style>
<div id="sim_container">
<div id="tile_details_container">
<div class="details">
    <p class="header">
        @if (Model.SelectedPoint != null)
        {
            <span>Entities on tile <span class="alert">@Model.SelectedPoint</span></span>
        }
        else
        {
            <span>No tile selected</span>
        }
    </p>
    @if(Model.IMappablesAtTile.Count == 0 && Model.SelectedPoint != null) {
         <p style="border-bottom: 3px solid #3d3e42;">No entities to show</p>  
    } else if(Model.SelectedPoint != null) {
        @for(int i=0; i< Model.IMappablesAtTile.Count; i++) {

        char symbolPrimary = @Model.IMappablesAtTile[i].Symbol;
        char symbolTarget = @Model.IMappablesAtTile[i].Target?.Symbol ?? ' ';
        string pathPrimary = System.IO.Path.Combine(Environment.WebRootPath, "images", symbolPrimary + (symbolPrimary == 'B' ? "_fly" : "") + ".png");
        string pathTarget = System.IO.Path.Combine(Environment.WebRootPath, "images", symbolTarget + (symbolTarget == 'B' ? "_fly" : "") + ".png");
        
        //string filePathPrimary = System.IO.Path.Combine(Environment.WebRootPath, "images", symbolPrimary + (symbolPrimary == 'B' ? "_fly" : "") + ".png");
        //string filePathTarget = System.IO.Path.Combine(Environment.WebRootPath, "images", symbolTarget + (symbolTarget == 'B' ? "_fly" : "") + ".png");
        if (System.IO.File.Exists(pathPrimary)) {
            pathPrimary = "/images/" + symbolPrimary + (symbolPrimary == 'B' ? "_fly" : "") + ".png";
        }
        if (System.IO.File.Exists(pathTarget)) {
            pathTarget = "/images/" + symbolTarget + (symbolTarget == 'B' ? "_fly" : "") + ".png";
        }


    if (!string.IsNullOrEmpty(pathPrimary)) {
        <div class="detail">
            <img src="@pathPrimary" /> 
            <div class="stats">
                <span class="alert">@Model.IMappablesAtTile[i]</span>
                <span>
                    HP: <span class="alert">@Model.IMappablesAtTile[i].Health</span>
                </span>
                <span>
                    ATK: <span class="alert">@Model.IMappablesAtTile[i].Power</span>
                </span>
            </div>
            <div class="targetInfo">
            @if(!string.IsNullOrEmpty(pathTarget) && @Model.IMappablesAtTile[i].Target != null) {
                <span>Target:</span>
                <img src="@pathTarget" title="@Model.IMappablesAtTile[i].Target at @Model.IMappablesAtTile[i].Target.Position"/> 
            } else {
                <span>No target</span>  
            }
            </div>
        </div>
    } else {
        @symbolPrimary
    }
        }
    }
</div>
</div>
<div id="map_container">
    <div class="map-header">
        <div class="turn-toggler">
            <form method="post" action="/Sim">
                @Html.AntiForgeryToken()
                <button name="action" value="decrease">&larr;</button>
            <input type="hidden" value="decrease" /></form>
            <div class="turn">
                Tura <b>@Model.TurnIndex</b>
            </div>
            <form method="post" action="/Sim">
                @Html.AntiForgeryToken()
                <button name="action" value="increase">&rarr;</button>
            <input type="hidden" value="increase" /></form>
        </div>
    </div>
<form id="tileForm" method="post" asp-page-handler="UpdateTileContext">
    <input type="hidden" name="x" id="tileX" />
    <input type="hidden" name="y" id="tileY" />
    <div class="map">
        @for (int y = sizeY - 1; y >= 0; y--)
        {
            <p>@y</p> 
        
            @for (int x = 0; x < sizeX; x++)
            {
                <div class="tile" id="tile-@x-@y" data-x="@x" data-y="@y">
    @using System.IO

    @inject IWebHostEnvironment Environment

    @{
        char symbol = ' ';
        string path = null;
        bool exists = Model.TurnLog.Symbols.TryGetValue(new Simulator.Utilities.Point(x, y), out symbol);

        if (exists) {
            string filePath = System.IO.Path.Combine(Environment.WebRootPath, "images", symbol + (symbol == 'B' ? "_fly" : "") + ".png");
            if (System.IO.File.Exists(filePath)) {
                path = "/images/" + symbol + (symbol == 'B' ? "_fly" : "") + ".png";
            }
        }
    }

    @if (!string.IsNullOrEmpty(path)) {
        <img src="@path" />
    } else if(exists) {
        @symbol
    }

                </div>
            }
        }
        <span></span>

        @for (int x = 0; x < sizeX; x++)
        {
            <span>@x</span>
        }
    </div>
</form>
    <div class="map-header">
            <span>Turn of <span class="alert">@Model.TurnLog.Mappable</span></span>
                @if(@Model.TurnIndex == @Model.SimHistory.TurnLogs.Count - 1) {
                    <span class="alert" style="font-size: large;">@Model.SimInstance.Winner faction wins!</span>
                }
            

    </div>
</div>
<div id="chat_container">
    @for(int i = Model.TurnIndex-1; i>=0; i--) {
        <div class="chat">
            <p class="header">Tura <span class="alert"><b>@(i+1)</b></span></p>
            @for (int j = 0; j < Model.AllActionsByTurn[i].Count; j++)
            {  
                <p><span class="alert">@Model.AllActionsByTurn[i][j]</span></p>
            }
        </div>
    }
<script>
    var selectedX = @(Model.SelectedPoint?.X ?? -1);
    var selectedY = @(Model.SelectedPoint?.Y ?? -1);
    console.log(selectedX, selectedY);
        function highlightSelectedTile() {
        if (selectedX !== undefined && selectedY !== undefined) {
            // Get the tile using its coordinates (id is in the format "tile-x-y")
            var tileId = "tile-" + selectedX + "-" + selectedY;
            var tile = document.getElementById(tileId);

            if (tile) {
                // Add the 'selected' class to the tile to change the background color
                tile.classList.add("selected");
                tile.scrollIntoView({
            behavior: 'smooth',
            block: 'center',
            inline: 'center'
        });
            } else {
                console.log("Tile not found");
            }
        }
    }
highlightSelectedTile();
    document.querySelectorAll('.tile').forEach(tile => {
        tile.addEventListener('click', function () {
            const x = this.getAttribute('data-x');
            const y = this.getAttribute('data-y');
            
            // Set hidden input values
            document.getElementById('tileX').value = x;
            document.getElementById('tileY').value = y;
            
            // Submit the form
            document.getElementById('tileForm').submit();
        });
    });
</script>
</div>
</div>
